<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">Ahmed's Market</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
        <div ="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto"
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'home' %}">Home <span class="visually-hidden">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'items' %}">Items</a>
                </li>
            </ul>
            <ul class="navbar-nav">
            </ul>
        </div>
</nav>
